@import url(../runo/legacy-styles.css);

.toolbar .v-button,.navigation .v-button {
	background: transparent;
	border: none;
	text-align: left;
}

.navigation .v-button {
	height: 110px;
}

.toolbar .v-textfield {
	background: #BBB;
	margin-left: 5px;
	margin-top: 1px;
	width: 80px;
}

.toolbar .v-checkbox {
	margin-top: 8px; 	
}

.toolbar .search-button img {
	widhth: 16px;
	height: 16px;
}

.toolbar .search-filter {
	margin-left: 5px;
	margin-right: 5px;
}

.toolbar .search-filter-bg {
	background: #A0A0A0;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin-top: 4px;
	margin-bottom: 4px;
	padding-top: 3px;
	padding-bottom: 2px;
	padding-left: 15px;
}

.toolbar .title {
 	text-align: right;
	font-size: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	text-shadow: #fafafa 1px 1px 0;
	width: 250px;
	
}

.navigation .v-button img {
	display: block;
	margin-bottom: 5px;
	width: 64px;
	height: 64px;
}

.toolbar .v-button span,.navigation .v-button span {
	text-shadow: #fafafa 1px 1px 0;
}

.toolbar .v-button .v-button-wrap,.toolbar .v-disabled.v-button .v-button-wrap,.navigation .v-button .v-button-wrap,.navigation .v-disabled.v-button .v-button-wrap
	{
	background: transparent;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.toolbar .v-button:active .v-button-wrap,.toolbar .v-button.v-pressed .v-button-wrap,.navigation .v-button:active .v-button-wrap,.navigation .v-button.v-pressed .v-button-wrap
	{
	background: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.toolbar {
	background: #ccc url(images/gradient.png) repeat-x bottom left;
	padding-top: 0px;
	padding-bottom: 0px;
}

.v-app {
	background: grey;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	color: #222;
}

.view {
	background: white;
}

.navigation {
	background: #303030;
}

.empty-view {
	background: gray;
}

.v-progressbar-wrapper {
	background: #FFFFFF;
}

.v-progressbar-indicator {
	background: lightGray;
}

 .ok .v-progressbar-indicator {
	background: green;
}

 .fail .v-progressbar-indicator {
	background: red;
}

 
.v-table-cell-content-failure, .v-table-cell-content-success, .v-table-cell-content-unknown {
	background-repeat: no-repeat;
	background-position: 5px;
	background-size: 16px 16px;
	text-indent: 20px;
}

.v-table-cell-content-success {
	color: green;
	background-image: url("crystal/agt_action_success.png");
}

.v-table-cell-content-failure {
	color: red;
	background-image: url("crystal/agt_action_fail1.png");
}


.v-table-cell-content-authenticator, .v-table-cell-content-comp, .v-table-cell-content-filebroker, 
.v-table-cell-content-manager, .v-table-cell-content-client, .v-table-cell-content-jobmanager {
	background-repeat: no-repeat;
	background-position: 5px;
	background-size: 24px 24px;
	text-indent: 30px;
}

.v-table-cell-content-authenticator {
	background-image: url("crystal/password.png");
}

.v-table-cell-content-comp {
	background-image: url("crystal/filter.png");
}

.v-table-cell-content-filebroker {
	background-image: url("crystal/db.png");
}

.v-table-cell-content-manager {
	background-image: url("crystal/contents.png");
}

.v-table-cell-content-client {
	background-image: url("crystal/log.png");
}

.v-table-cell-content-jobmanager {
	background-image: url("crystal/kfouleggs.png");
}

.report-text {
	margin-top: 18px;
	margin-left: 18px;
	margin-right: 18px;
}

.report-button {
	margin-top: 14px;
	margin-left: 14px;
	margin-right: 14px;
}