/** Login Configuration for Chipster **/



Chipster {
	fi.csc.microarray.auth.SimpleFileLoginModule sufficient passwdFile="security/users";
	/* fi.csc.microarray.auth.UnixCryptLoginModule sufficient passwdFile="chipster_shadow"; */
    /* com.sun.security.auth.module.LdapLoginModule sufficient userProvider="" authIdentity="" useSSL=true; */
};