<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<display-name>admin-web</display-name>
	<!-- atmosphere shows a Warning in log without this -->	
	<listener>
		<listener-class>org.atmosphere.cpr.SessionSupport</listener-class>
	</listener>
	<context-param>
		<param-name>org.atmosphere.cpr.sessionSupport</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<description>
		Vaadin production mode</description>
		<param-name>productionMode</param-name>
		<param-value>true</param-value>
	</context-param>
	<filter>
		<filter-name>Hibernate servlet filter</filter-name>
		<filter-class>fi.csc.chipster.web.adminweb.hbncontainer.HibernateServletFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Hibernate servlet filter</filter-name>
		<servlet-name>Chipster admin</servlet-name>
	</filter-mapping>
	<servlet>
		<servlet-name>Chipster admin</servlet-name>
		<servlet-class>com.vaadin.server.VaadinServlet</servlet-class>
		<init-param>
			<description>
			Vaadin UI class to use</description>
			<param-name>UI</param-name>
			<param-value>fi.csc.chipster.web.adminweb.ChipsterAdminUI</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Chipster admin</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
